<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summary</title>
    <link rel="stylesheet" href="/summarystyles.css">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
    <h1 id="title"><%=title%></h1>
    <p><%=extract%></p>
    <button id="moreInfo" type="button">More Info</button>
</body>
<script>
    const title = document.querySelector("#title");
    const moreInfo = document.querySelector("#moreInfo");
    moreInfo.addEventListener("click", function (e) {
        const link = document.createElement("a");
        link.href = "<%=page%>";
        link.textContent = "<%=page%>"
        link.target = "_blank"
        document.body.append(link);
    }, {once: true});

</script>

<noscript>
<style>
#moreInfo {
    opacity: 0.1;
    cursor:not-allowed;
}
</style>
</noscript>
</html>